/* RGB */
/*$color1: rgba(8, 14, 31, 1);
$color2: rgba(27, 52, 109, 1);
$color3: rgba(60, 116, 190, 1);
$color4: rgba(21, 35, 80, 1);
$color5: rgba(220, 250, 252, 1);*/


html, body {
	height: 100%;
	margin: 0;
}

#main{
	width:100%;
	height: 100%;
	background-color:rgba(8, 14, 31, 1);
}

.game{
	margin: 0 auto;
	position:relative;
	width:100%;
	height: 100%;
	overflow:hidden;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */

}

#zone1{
	position:relative;
	width:100%;
	height: 70%;
}
#zone2{
	position:relative;
	width:100%;
	height: 30%;
}
.input{
	margin: 0 auto;
	position:relative;
	width:100%;
	height: 100%;
	overflow:hidden;
}
.output{
	position:relative;
	width:100%;
	height: 100%;
}
#compo{
	width:100%;
	height:100%;
}
#inputs{
	width:100%;
	height:100%;
}
/*#g3135{
	cursor: pointer;
}*/
#up{
	cursor: pointer;
}
#down{
	cursor: pointer;
}
#jump{
	cursor: pointer;
}
#play{
	cursor: pointer;
}
