/* RGB */
/*$color1: rgba(8, 14, 31, 1);
$color2: rgba(27, 52, 109, 1);
$color3: rgba(60, 116, 190, 1);
$color4: rgba(21, 35, 80, 1);
$color5: rgba(220, 250, 252, 1);*/



html, body {
	height: 100%;
	margin: 0;
}

#main{
    width:100%;
    height: 100%;
	/*overflow:hidden;*/
	background-color:rgba(8, 14, 31, 1);
}

.game{
	margin: 0 auto;
	position:relative;
    width:100%;
    height: 100%;
	/*min-height:300px;*/
	/*max-width:700px;*/

	overflow:hidden;

}

#rail{
	margin: 0 auto;
	position:absolute;
	width: 48px;
	height: 60px;
	/*top:70%;*/
	/*
	left:40%;
	height:50%;*/
	/*scale:5;*/
	/*opacity:0;*/

}
#rail2{
	position:absolute;
	top:50%;
	left:40%;
	width: 100%;
	/*height:30%;*/
	/*scale:5;*/
	opacity:1;
}
#chariot{
	position:absolute;
	width:128px;
  	height:160px;
}
#chariot2{
	position:absolute;
	/*top:50%;
	left:40%;*/
	width: 20%;
	height:30%;
	/*scale:5;*/
	opacity:1;

}

#chariot g g path{
	fill:red;
}

#play{
	position:relative;
    width:100%;
    height: 80%;
    background-color:blue;
}

#scratch-screen{
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
    height: 100%;

}

#input-form{
	display:block;
	position:absolute;
	top:90%;
	left:50%;
	text-align: center;
	height:20%;
	width:30%;
	opacity:0;
}
#x{
	width:30%;
	height:20%;
	font-size:1.5em;
}

/*#hand{
	position:absolute;
	top:30%;
	width: 40%;
    height: 50%;

}

#key{
	position:absolute;
	top:-50%;
	width: 20%;
    height: 25%;
}

#hand-svg{
	position:absolute;
	top:-50%;
	left:-50%;
	width:300px;
    height: 250px;
}

#key-svg{
	position:absolute;
	top:-50%;
	left:0%;
	width:100px;
    height: 125px;
}*/
#hand{
	position:absolute;
	top:50%;
	width: 40%;
    height: 50%;
}

#key{
	position:absolute;
	top:-50%;
	width: 20%;
    height: 25%;
}

#hand-svg{
	position:absolute;
	top:-50%;
	left:-15%;
	width:30%;
    /*height: 100%;*/
}

#key-svg{
	position:absolute;
	top:-50%;
	left:-15%;
	width:10%;
    /*height: 100%;*/
}

#input{
	position:relative;
    width:100%;
    height: 20%;
    background-color:green;
}

/*#input-form{
	padding-top : 20px;
	text-align: center;
}
#score-form{
	padding-top : 20px;
	text-align: center;
}*/
